*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background:#000 url('img/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .menu a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* text-align: center; */
}
header .menu .btn{
    display: inline-flex;
    width: 100px;
    margin-right: 15px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    border: 10px solid;
    border-width: 2px;    
    /* Para agregar gradiente al borde del objeto  ▼▼*/
    border-image:linear-gradient(to bottom,rgba(255,255,255,.5),rgba(255,255,255,0)) 1 1%;
    /* border-image:linear-gradient(45deg,rgba(255,255,255,1),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,1)) 1 10%;    */
}

header .menu .btn:hover{
    background: linear-gradient(to bottom,rgba(255,255,255,.4),rgba(255,255,255,0));
    border: none;
}

.main{
    background-color: #fff;
    padding:25px ;
    width: 70%;
}
.main article .thumb{
    margin-bottom: 20px;
}

.main article .thumb img{
    width: 100%;
    vertical-align: top;
}

.main article h2{
    margin: 20px 0px;
    font-weight: normal;
    font-size: 32px;
}

.main article h3{
    margin-bottom: 20px;
}

.main article p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

.main article ul, ol{
    padding: 0px 20px;
    font-size: 14px;
    line-height: 27px;
    list-style-position: inside;
}


aside{
    width: 30%;
    background-color: #537dca;
    background-color: rgba(83,125,202,.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .wrap-content{
    align-self: stretch;
}

.news-card{
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    overflow: hidden;
    border-radius:0.5rem;
    flex: 1;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
}

.news-card::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0,0,0,0) 50%,
    rgba(0,0,0,0.7) 80%);;
    z-index:0;
    }

.news-card_image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.text-wrapper{ 
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    transition: background-color 1.5s ease;
    color: white;
}

.text-wrapper span{
    transition: color 1s ease;
    margin-bottom: .5rem;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(47, 74, 126);
}

a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

footer{
    margin-top: 20px;
    background: rgba(255,255,255,.2);
    padding: 20px;
    margin:20px 0;
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

footer .redes a{
    color: #fff;
    text-decoration: underline;
    margin-left:20px;
}

footer .redes a:hover{
    text-decoration: none;
}

.hidden{
display: none;
}

.news-card:hover .news-card_image{
    transform:scale(1.2);
    z-index:-1;
}

.news-card:hover .text-wrapper{
    background-color: rgba(0, 0, 0, 0.8) ;
}

.news-card:hover .news-card-title{
    color: rgb(189, 189, 188);
}

.details{
    opacity: 0;
}

.details:hover{
    opacity: 1;
    transition: max-height 1.5s ease, opacity 1s ease;
    
}


@media screen and (max-width:800px) {
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
        flex-direction: row;
    }


    aside .wrap-content{
        width: 40%;
        margin-bottom: 5px;
    } 
}



@media screen and (max-width:600px) {
    header{
        flex-direction: column;    
        padding-bottom: 20px;
    }
    
    header .menu{
        width: 100%;
        /* background:rgba(255,255,255,.2) ; */
        text-align: center;
        padding: 20px;
    }
/* 
header .menu .btn{
    border: none;
}

header .menu .btn:hover{
    background: none;
    text-decoration: underline;
}  */


    header .logo{
        margin-bottom: 20px;        
    }
    
    header .menu .btn{
        width: 90%;
        border:1px solid rgba(255,255,255,.5);
        margin-bottom: 3px;
    }

    header .menu a{
        margin: 0 20px;
    }
    
    aside .wrap-content{
        width: 45%;
        margin-bottom: 5px;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }
    
    footer .autor{
    order: 2;
}

footer .redes{
    order: 1;
    margin-bottom: 20px;
}
}

@media screen and (max-width:400px){
    aside .wrap-content{
        width: 90%;
        margin-bottom: 5px;
    }

    .news-card_image{
        display: none;
    }

    .text-wrapper{ 
        width: 100%;
        background:rgba(69, 151, 190, .5);
        position: relative;
        bottom: 0rem;
        padding: 1rem;
        color: white;
    }
    .details{
        opacity: 1;
    }
        
    .text-wrapper span{
        margin-bottom: 0;
    }

}